.login-container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;background-color: violet;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-info{
    width: 30%;
    min-width: 450px;
    height: 350px;
    background-color: white;
    margin:0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}
.login-title{
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 16px;
}
.login-btn .ant-btn{
    width: 140px;
}